# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/
env/

# Environment variables
.env

# VSCode settings (if using)
.vscode/

# OS files
.DS_Store

# Others (if needed)
*.log

# Node.js
node_modules/

